.banner{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/fotosantojoslpg.appspot.com/o/1%20foto.jpg?alt=media&token=d3f43f36-d7f1-4a4e-aef8-f98c6a23d29b");
    background-position: top center;
    background-size: cover;
    padding: 5% 20% 35% 20%;
}